.logement-titre {
font-size: 36px;
color: #FF6060;
font-weight: 500;
margin-bottom: 0px;
}

.image-hote {
width: 64px;
height: 64px;
border-radius: 30px;
}

.logement-avatar {
display: flex;
margin-top: 30px;
}

.logement-avatar p {
margin-right: 10px;
color: #FF6060;
}

.logement-head {
display: flex;
justify-content: space-between;
}

.logement-location {
  margin-top: 0px;
color: #FF6060;
margin-bottom: 20px;
}

.logement-tag-et-rating {
display: flex;
justify-content: space-between;
margin-bottom: 8px;
}




@media (max-width: 768px) {
    .nav-button img {
      height: 24px;
    }
    .logement-titre {
      font-size: 18px;
    }
    .logement-avatar {
      margin-top: 10px;
    }
    .logement-avatar p {
      font-size: 12px;
    }
    .image-hote {
      width: 32px;
      height: 32px;
      border-radius: 30px;
    }
    .logement-location {
      font-size: 14px;
      margin-top: 10px;
    }
    .tag-bubble {
      width: 84px;
      text-align: center;
      margin-bottom: 24px;
    }
    .logement-tag-et-rating {
      display: flex;
      flex-wrap: wrap;
    }
    .logement-tags {
      width: 100%;
    }
    .collapse {
      width: 100%;
    }
    .logement-collapses {
    display: block;
    }
  }
  