.footer {
    height: 209px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .footer-logo {
    height: 39px;
    margin-bottom: 10px;
  }
  
  .footer-text {
    text-align: center;
    font-weight: 500;
  }
  