// _Header.scss
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 45px 45px 100px;
    background-color: #fff;

    .header-logo img {
      height: 68px;
    }
  
    .header-nav ul {
      list-style: none;
      display: flex;
      
  
      li {
        margin-right: 55px;
        a {
          text-decoration: none;
          color: #ff5722;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  